<h1>Login test</h1>

<%= form_with url: login_path do |f| %>
    <%= f.label :username %>
    <%= f.text_field :username %><br><br>
    <%= f.label :password %>
    <%= f.password_field :password %><br><br>
    <%= f.submit "Log In" %>
    <br><br>
    <%= link_to "Back", root_path %>
<% end%>

<h3> Or Log In With Google </h3>

<%= button_to 'Google', '/auth/google_oauth2' %>
<br>
<%# <%= button_to 'Twitter', '/auth/google_oauth2' %> 


