<br><br>

<% if @story %>
    <h2> Story Title: <%= @story.title %></h2><br>
    <h2> Story Title: <%= @story.description %></h2><br>
<% else %>
    <h1>New Comment</h1>
<% end %>

<%= form_with model: @comment do |f| %>
    <h3>Add A Comment:</h3>
     <%= f.text_area :comment %><br><br>
     <%= f.submit "Submit Comment" %> 
<% end %> 
<br><br> 