<br><br>
<%= render partial: 'layouts/errors', locals: {object: @comment}  %>


<% if @story %>
    <h3> Story Title: <%= @story.title %></h3><br>
    <h3> Story: <%= @story.description %></h3><br>
<% else %>
    <h1>New Comment</h1>
<% end %>

<%= form_with model: [@story, @comment] do |f| %>
    <h3>Add A Comment:</h3>
     <%= f.hidden_field :story_id %>
     <%= f.hidden_field :user_id, value: current_user.id %>
     <%= f.text_area :reviews %><br><br>
     <%= f.submit "Submit Comment" %> 
<% end %> 
<br><br> 