<h1>New Story</h1>

<%= form_with model: @story do |f| %>
    <%= f.label :title %>
    <%= f.text_field :title %><br><br>
    <%= f.label :Story %>
    <%= f.text_area :description %><br><br>
    <%= f.submit "Add Story To Bookshelf"  %><br><br>
<% end %>