<h1> Show me the story</h1>

<h3><label> Title: </label></h3>
<ul><%= @story.title %></ul> 
<h3><label> Story: </label></h3>
<ul><%= @story.description %></ul>
<h3><label> Storyteller: </label></h3>
<ul><%= @story.user.username %></ul>  
<br><br> 

<%= button_to "Add A Comment", new_story_comment_path(@story), method: :get%><br><br>

<%= button_to "View Comments", story_comments_path(@story), method: :get%><br><br>

 <% if current_user == @story.user %> 
    <%= button_to "Edit Story", edit_story_path(@story), method: :get%><br><br>
 <% end %>  









