<!DOCTYPE html>
<html>
  <head>
    <title>Storybook</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    

    <%= yield %>
      <% if logged_in? %>
        <%= link_to "New Story", new_story_path(@story) %> |
        <%= link_to "Story Tellers", users_path%> |   
        <%= link_to  "BookShelf", stories_path %><br><br> 
        <%= button_to "Log Out", logout_path %>  
      <% end %>
  </body>
</html>